In [4]:
import pandas as pd
datos = pd.read_csv('players_21.csv')
df=pd.DataFrame(datos)
print("DataFrame Original")
print(df)

DataFrame Original
       sofifa_id                                         player_url  \
0         158023  https://sofifa.com/player/158023/lionel-messi/...
1          20801  https://sofifa.com/player/20801/c-ronaldo-dos-...
2         200389  https://sofifa.com/player/200389/jan-oblak/210002
3         188545  https://sofifa.com/player/188545/robert-lewand...
4         190871  https://sofifa.com/player/190871/neymar-da-sil...
...          ...                                                ...
18939     256679  https://sofifa.com/player/256679/kevin-angulo/...
18940     257710  https://sofifa.com/player/257710/mengxuan-zhan...
18941     250989  https://sofifa.com/player/250989/zhenghao-wang...
18942     257697  https://sofifa.com/player/257697/zitong-chen/2...
18943     257936   https://sofifa.com/player/257936/yue-song/210002

              short_name                            long_name  age  \
0               L. Messi       Lionel Andrés Messi Cuccittini   33
1      Cristiano Ronaldo  Cristiano Ronaldo dos Santos Aveiro   35
2               J. Oblak                            Jan Oblak   27
3         R. Lewandowski                   Robert Lewandowski   31
4              Neymar Jr        Neymar da Silva Santos Júnior   28
...                  ...                                  ...  ...
18939          K. Angulo                         Kevin Angulo   24
18940     Zhang Mengxuan                       Mengxuan Zhang   21
18941      Wang Zhenghao                                  王政豪   20
18942        Chen Zitong                          Zitong Chen   23
18943           Song Yue                             Yue Song   28

              dob  height_cm  weight_kg nationality  \
0      1987-06-24        170         72   Argentina
1      1985-02-05        187         83    Portugal
2      1993-01-07        188         87    Slovenia
3      1988-08-21        184         80      Poland
4      1992-02-05        175         68      Brazil
...           ...        ...        ...         ...
18939  1996-04-13        176         73    Colombia
18940  1999-04-26        177         70    China PR
18941  2000-06-28        185         74    China PR
18942  1997-02-20        186         80    China PR
18943  1991-11-20        185         79    China PR

                                 club_name  ...   lwb   ldm   cdm   rdm   rwb  \
0                             FC Barcelona  ...  66+3  65+3  65+3  65+3  66+3
1                                 Juventus  ...  65+3  61+3  61+3  61+3  65+3
2                          Atlético Madrid  ...  32+3  36+3  36+3  36+3  32+3
3                        FC Bayern München  ...  64+3  65+3  65+3  65+3  64+3
4                      Paris Saint-Germain  ...  67+3  62+3  62+3  62+3  67+3
...                                    ...  ...   ...   ...   ...   ...   ...
18939                      América de Cali  ...  47+2  47+2  47+2  47+2  47+2
18940  Chongqing Dangdai Lifan FC SWM Team  ...  42+2  41+2  41+2  41+2  42+2
18941                      Tianjin TEDA FC  ...  42+2  42+2  42+2  42+2  42+2
18942        Shijiazhuang Ever Bright F.C.  ...  47+2  49+2  49+2  49+2  47+2
18943                      Tianjin TEDA FC  ...  47+0  47+0  47+0  47+0  47+0

         lb   lcb    cb   rcb    rb
0      62+3  52+3  52+3  52+3  62+3
1      61+3  54+3  54+3  54+3  61+3
2      32+3  33+3  33+3  33+3  32+3
3      61+3  60+3  60+3  60+3  61+3
4      62+3  49+3  49+3  49+3  62+3
...     ...   ...   ...   ...   ...
18939  47+2  46+2  46+2  46+2  47+2
18940  45+2  47+2  47+2  47+2  45+2
18941  44+2  47+2  47+2  47+2  44+2
18942  47+2  49+2  49+2  49+2  47+2
18943  47+0  46+1  46+1  46+1  47+0

[18944 rows x 106 columns]

In [5]:
data = pd.DataFrame(df,columns=['age_range']) 
print("DataFrame Modificado")
print(df)

DataFrame Modificado
       sofifa_id                                         player_url  \
0         158023  https://sofifa.com/player/158023/lionel-messi/...
1          20801  https://sofifa.com/player/20801/c-ronaldo-dos-...
2         200389  https://sofifa.com/player/200389/jan-oblak/210002
3         188545  https://sofifa.com/player/188545/robert-lewand...
4         190871  https://sofifa.com/player/190871/neymar-da-sil...
...          ...                                                ...
18939     256679  https://sofifa.com/player/256679/kevin-angulo/...
18940     257710  https://sofifa.com/player/257710/mengxuan-zhan...
18941     250989  https://sofifa.com/player/250989/zhenghao-wang...
18942     257697  https://sofifa.com/player/257697/zitong-chen/2...
18943     257936   https://sofifa.com/player/257936/yue-song/210002

              short_name                            long_name  age  \
0               L. Messi       Lionel Andrés Messi Cuccittini   33
1      Cristiano Ronaldo  Cristiano Ronaldo dos Santos Aveiro   35
2               J. Oblak                            Jan Oblak   27
3         R. Lewandowski                   Robert Lewandowski   31
4              Neymar Jr        Neymar da Silva Santos Júnior   28
...                  ...                                  ...  ...
18939          K. Angulo                         Kevin Angulo   24
18940     Zhang Mengxuan                       Mengxuan Zhang   21
18941      Wang Zhenghao                                  王政豪   20
18942        Chen Zitong                          Zitong Chen   23
18943           Song Yue                             Yue Song   28

              dob  height_cm  weight_kg nationality  \
0      1987-06-24        170         72   Argentina
1      1985-02-05        187         83    Portugal
2      1993-01-07        188         87    Slovenia
3      1988-08-21        184         80      Poland
4      1992-02-05        175         68      Brazil
...           ...        ...        ...         ...
18939  1996-04-13        176         73    Colombia
18940  1999-04-26        177         70    China PR
18941  2000-06-28        185         74    China PR
18942  1997-02-20        186         80    China PR
18943  1991-11-20        185         79    China PR

                                 club_name  ...   lwb   ldm   cdm   rdm   rwb  \
0                             FC Barcelona  ...  66+3  65+3  65+3  65+3  66+3
1                                 Juventus  ...  65+3  61+3  61+3  61+3  65+3
2                          Atlético Madrid  ...  32+3  36+3  36+3  36+3  32+3
3                        FC Bayern München  ...  64+3  65+3  65+3  65+3  64+3
4                      Paris Saint-Germain  ...  67+3  62+3  62+3  62+3  67+3
...                                    ...  ...   ...   ...   ...   ...   ...
18939                      América de Cali  ...  47+2  47+2  47+2  47+2  47+2
18940  Chongqing Dangdai Lifan FC SWM Team  ...  42+2  41+2  41+2  41+2  42+2
18941                      Tianjin TEDA FC  ...  42+2  42+2  42+2  42+2  42+2
18942        Shijiazhuang Ever Bright F.C.  ...  47+2  49+2  49+2  49+2  47+2
18943                      Tianjin TEDA FC  ...  47+0  47+0  47+0  47+0  47+0

         lb   lcb    cb   rcb    rb
0      62+3  52+3  52+3  52+3  62+3
1      61+3  54+3  54+3  54+3  61+3
2      32+3  33+3  33+3  33+3  32+3
3      61+3  60+3  60+3  60+3  61+3
4      62+3  49+3  49+3  49+3  62+3
...     ...   ...   ...   ...   ...
18939  47+2  46+2  46+2  46+2  47+2
18940  45+2  47+2  47+2  47+2  45+2
18941  44+2  47+2  47+2  47+2  44+2
18942  47+2  49+2  49+2  49+2  47+2
18943  47+0  46+1  46+1  46+1  47+0

[18944 rows x 106 columns]

In [6]:
df

,sofifa_id,player_url,short_name,long_name,age,dob,height_cm,weight_kg,nationality,club_name,...,lwb,ldm,cdm,rdm,rwb,lb,lcb,cb,rcb,rb
0,158023,https://sofifa.com/player/158023/lionel-messi/...,L. Messi,Lionel Andrés Messi Cuccittini,33,1987-06-24,170,72,Argentina,FC Barcelona,...,66+3,65+3,65+3,65+3,66+3,62+3,52+3,52+3,52+3,62+3
1,20801,https://sofifa.com/player/20801/c-ronaldo-dos-...,Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,35,1985-02-05,187,83,Portugal,Juventus,...,65+3,61+3,61+3,61+3,65+3,61+3,54+3,54+3,54+3,61+3
2,200389,https://sofifa.com/player/200389/jan-oblak/210002,J. Oblak,Jan Oblak,27,1993-01-07,188,87,Slovenia,Atlético Madrid,...,32+3,36+3,36+3,36+3,32+3,32+3,33+3,33+3,33+3,32+3
3,188545,https://sofifa.com/player/188545/robert-lewand...,R. Lewandowski,Robert Lewandowski,31,1988-08-21,184,80,Poland,FC Bayern München,...,64+3,65+3,65+3,65+3,64+3,61+3,60+3,60+3,60+3,61+3
4,190871,https://sofifa.com/player/190871/neymar-da-sil...,Neymar Jr,Neymar da Silva Santos Júnior,28,1992-02-05,175,68,Brazil,Paris Saint-Germain,...,67+3,62+3,62+3,62+3,67+3,62+3,49+3,49+3,49+3,62+3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18939,256679,https://sofifa.com/player/256679/kevin-angulo/...,K. Angulo,Kevin Angulo,24,1996-04-13,176,73,Colombia,América de Cali,...,47+2,47+2,47+2,47+2,47+2,47+2,46+2,46+2,46+2,47+2
18940,257710,https://sofifa.com/player/257710/mengxuan-zhan...,Zhang Mengxuan,Mengxuan Zhang,21,1999-04-26,177,70,China PR,Chongqing Dangdai Lifan FC SWM Team,...,42+2,41+2,41+2,41+2,42+2,45+2,47+2,47+2,47+2,45+2
18941,250989,https://sofifa.com/player/250989/zhenghao-wang...,Wang Zhenghao,王政豪,20,2000-06-28,185,74,China PR,Tianjin TEDA FC,...,42+2,42+2,42+2,42+2,42+2,44+2,47+2,47+2,47+2,44+2
18942,257697,https://sofifa.com/player/257697/zitong-chen/2...,Chen Zitong,Zitong Chen,23,1997-02-20,186,80,China PR,Shijiazhuang Ever Bright F.C.,...,47+2,49+2,49+2,49+2,47+2,47+2,49+2,49+2,49+2,47+2
18943,257936,https://sofifa.com/player/257936/yue-song/210002,Song Yue,Yue Song,28,1991-11-20,185,79,China PR,Tianjin TEDA FC,...,47+0,47+0,47+0,47+0,47+0,47+0,46+1,46+1,46+1,47+0

In [18]:
df2 = pd.DataFrame(df,columns=['age_range']) 
print (df)

       sofifa_id                                         player_url  \
0         158023  https://sofifa.com/player/158023/lionel-messi/...
1          20801  https://sofifa.com/player/20801/c-ronaldo-dos-...
2         200389  https://sofifa.com/player/200389/jan-oblak/210002
3         188545  https://sofifa.com/player/188545/robert-lewand...
4         190871  https://sofifa.com/player/190871/neymar-da-sil...
...          ...                                                ...
18939     256679  https://sofifa.com/player/256679/kevin-angulo/...
18940     257710  https://sofifa.com/player/257710/mengxuan-zhan...
18941     250989  https://sofifa.com/player/250989/zhenghao-wang...
18942     257697  https://sofifa.com/player/257697/zitong-chen/2...
18943     257936   https://sofifa.com/player/257936/yue-song/210002

              short_name                            long_name  age  \
0               L. Messi       Lionel Andrés Messi Cuccittini   33
1      Cristiano Ronaldo  Cristiano Ronaldo dos Santos Aveiro   35
2               J. Oblak                            Jan Oblak   27
3         R. Lewandowski                   Robert Lewandowski   31
4              Neymar Jr        Neymar da Silva Santos Júnior   28
...                  ...                                  ...  ...
18939          K. Angulo                         Kevin Angulo   24
18940     Zhang Mengxuan                       Mengxuan Zhang   21
18941      Wang Zhenghao                                  王政豪   20
18942        Chen Zitong                          Zitong Chen   23
18943           Song Yue                             Yue Song   28

              dob  height_cm  weight_kg nationality  \
0      1987-06-24        170         72   Argentina
1      1985-02-05        187         83    Portugal
2      1993-01-07        188         87    Slovenia
3      1988-08-21        184         80      Poland
4      1992-02-05        175         68      Brazil
...           ...        ...        ...         ...
18939  1996-04-13        176         73    Colombia
18940  1999-04-26        177         70    China PR
18941  2000-06-28        185         74    China PR
18942  1997-02-20        186         80    China PR
18943  1991-11-20        185         79    China PR

                                 club_name  ...   lwb   ldm   cdm   rdm   rwb  \
0                             FC Barcelona  ...  66+3  65+3  65+3  65+3  66+3
1                                 Juventus  ...  65+3  61+3  61+3  61+3  65+3
2                          Atlético Madrid  ...  32+3  36+3  36+3  36+3  32+3
3                        FC Bayern München  ...  64+3  65+3  65+3  65+3  64+3
4                      Paris Saint-Germain  ...  67+3  62+3  62+3  62+3  67+3
...                                    ...  ...   ...   ...   ...   ...   ...
18939                      América de Cali  ...  47+2  47+2  47+2  47+2  47+2
18940  Chongqing Dangdai Lifan FC SWM Team  ...  42+2  41+2  41+2  41+2  42+2
18941                      Tianjin TEDA FC  ...  42+2  42+2  42+2  42+2  42+2
18942        Shijiazhuang Ever Bright F.C.  ...  47+2  49+2  49+2  49+2  47+2
18943                      Tianjin TEDA FC  ...  47+0  47+0  47+0  47+0  47+0

         lb   lcb    cb   rcb    rb
0      62+3  52+3  52+3  52+3  62+3
1      61+3  54+3  54+3  54+3  61+3
2      32+3  33+3  33+3  33+3  32+3
3      61+3  60+3  60+3  60+3  61+3
4      62+3  49+3  49+3  49+3  62+3
...     ...   ...   ...   ...   ...
18939  47+2  46+2  46+2  46+2  47+2
18940  45+2  47+2  47+2  47+2  45+2
18941  44+2  47+2  47+2  47+2  44+2
18942  47+2  49+2  49+2  49+2  47+2
18943  47+0  46+1  46+1  46+1  47+0

[18944 rows x 106 columns]

In [17]:
print (df)

       sofifa_id                                         player_url  \
0         158023  https://sofifa.com/player/158023/lionel-messi/...
1          20801  https://sofifa.com/player/20801/c-ronaldo-dos-...
2         200389  https://sofifa.com/player/200389/jan-oblak/210002
3         188545  https://sofifa.com/player/188545/robert-lewand...
4         190871  https://sofifa.com/player/190871/neymar-da-sil...
...          ...                                                ...
18939     256679  https://sofifa.com/player/256679/kevin-angulo/...
18940     257710  https://sofifa.com/player/257710/mengxuan-zhan...
18941     250989  https://sofifa.com/player/250989/zhenghao-wang...
18942     257697  https://sofifa.com/player/257697/zitong-chen/2...
18943     257936   https://sofifa.com/player/257936/yue-song/210002

              short_name                            long_name  age  \
0               L. Messi       Lionel Andrés Messi Cuccittini   33
1      Cristiano Ronaldo  Cristiano Ronaldo dos Santos Aveiro   35
2               J. Oblak                            Jan Oblak   27
3         R. Lewandowski                   Robert Lewandowski   31
4              Neymar Jr        Neymar da Silva Santos Júnior   28
...                  ...                                  ...  ...
18939          K. Angulo                         Kevin Angulo   24
18940     Zhang Mengxuan                       Mengxuan Zhang   21
18941      Wang Zhenghao                                  王政豪   20
18942        Chen Zitong                          Zitong Chen   23
18943           Song Yue                             Yue Song   28

              dob  height_cm  weight_kg nationality  \
0      1987-06-24        170         72   Argentina
1      1985-02-05        187         83    Portugal
2      1993-01-07        188         87    Slovenia
3      1988-08-21        184         80      Poland
4      1992-02-05        175         68      Brazil
...           ...        ...        ...         ...
18939  1996-04-13        176         73    Colombia
18940  1999-04-26        177         70    China PR
18941  2000-06-28        185         74    China PR
18942  1997-02-20        186         80    China PR
18943  1991-11-20        185         79    China PR

                                 club_name  ...   lwb   ldm   cdm   rdm   rwb  \
0                             FC Barcelona  ...  66+3  65+3  65+3  65+3  66+3
1                                 Juventus  ...  65+3  61+3  61+3  61+3  65+3
2                          Atlético Madrid  ...  32+3  36+3  36+3  36+3  32+3
3                        FC Bayern München  ...  64+3  65+3  65+3  65+3  64+3
4                      Paris Saint-Germain  ...  67+3  62+3  62+3  62+3  67+3
...                                    ...  ...   ...   ...   ...   ...   ...
18939                      América de Cali  ...  47+2  47+2  47+2  47+2  47+2
18940  Chongqing Dangdai Lifan FC SWM Team  ...  42+2  41+2  41+2  41+2  42+2
18941                      Tianjin TEDA FC  ...  42+2  42+2  42+2  42+2  42+2
18942        Shijiazhuang Ever Bright F.C.  ...  47+2  49+2  49+2  49+2  47+2
18943                      Tianjin TEDA FC  ...  47+0  47+0  47+0  47+0  47+0

         lb   lcb    cb   rcb    rb
0      62+3  52+3  52+3  52+3  62+3
1      61+3  54+3  54+3  54+3  61+3
2      32+3  33+3  33+3  33+3  32+3
3      61+3  60+3  60+3  60+3  61+3
4      62+3  49+3  49+3  49+3  62+3
...     ...   ...   ...   ...   ...
18939  47+2  46+2  46+2  46+2  47+2
18940  45+2  47+2  47+2  47+2  45+2
18941  44+2  47+2  47+2  47+2  44+2
18942  47+2  49+2  49+2  49+2  47+2
18943  47+0  46+1  46+1  46+1  47+0

[18944 rows x 106 columns]

In [21]:
df2 = pd.DataFrame(df,columns=[age_range']) 
print (df2)

        short_name  age_range
0              NaN        NaN
1              NaN        NaN
2              NaN        NaN
3              NaN        NaN
4              NaN        NaN
...            ...        ...
18939          NaN        NaN
18940          NaN        NaN
18941          NaN        NaN
18942          NaN        NaN
18943          NaN        NaN

[18944 rows x 2 columns]

In [22]:
import pandas as pd
data=pd.read_csv('players_21.csv')

In [24]:

data['age_range']=(data['age']<23,"A")

ValueError: Length of values (2) does not match length of index (18944)

In [25]:
import pandas as pd
datos = pd.read_csv('players_21.csv')
df=pd.Dataframe(datos)
print("DataFrame Original")
print(df)

AttributeError: module 'pandas' has no attribute 'Dataframe'

In [26]:
import pandas as pd
datos = pd.read_csv('players_21.csv')
df=pd.Dataframe(datos)
print("DataFrame Original")
print(df)

AttributeError: module 'pandas' has no attribute 'Dataframe'

In [27]:
import pandas as pd

In [29]:
datos = pd.read_csv('players_21.csv')

In [30]:
  print("DataFrame Original")
print(datos)

DataFrame Original
       sofifa_id                                         player_url  \
0         158023  https://sofifa.com/player/158023/lionel-messi/...
1          20801  https://sofifa.com/player/20801/c-ronaldo-dos-...
2         200389  https://sofifa.com/player/200389/jan-oblak/210002
3         188545  https://sofifa.com/player/188545/robert-lewand...
4         190871  https://sofifa.com/player/190871/neymar-da-sil...
...          ...                                                ...
18939     256679  https://sofifa.com/player/256679/kevin-angulo/...
18940     257710  https://sofifa.com/player/257710/mengxuan-zhan...
18941     250989  https://sofifa.com/player/250989/zhenghao-wang...
18942     257697  https://sofifa.com/player/257697/zitong-chen/2...
18943     257936   https://sofifa.com/player/257936/yue-song/210002

              short_name                            long_name  age  \
0               L. Messi       Lionel Andrés Messi Cuccittini   33
1      Cristiano Ronaldo  Cristiano Ronaldo dos Santos Aveiro   35
2               J. Oblak                            Jan Oblak   27
3         R. Lewandowski                   Robert Lewandowski   31
4              Neymar Jr        Neymar da Silva Santos Júnior   28
...                  ...                                  ...  ...
18939          K. Angulo                         Kevin Angulo   24
18940     Zhang Mengxuan                       Mengxuan Zhang   21
18941      Wang Zhenghao                                  王政豪   20
18942        Chen Zitong                          Zitong Chen   23
18943           Song Yue                             Yue Song   28

              dob  height_cm  weight_kg nationality  \
0      1987-06-24        170         72   Argentina
1      1985-02-05        187         83    Portugal
2      1993-01-07        188         87    Slovenia
3      1988-08-21        184         80      Poland
4      1992-02-05        175         68      Brazil
...           ...        ...        ...         ...
18939  1996-04-13        176         73    Colombia
18940  1999-04-26        177         70    China PR
18941  2000-06-28        185         74    China PR
18942  1997-02-20        186         80    China PR
18943  1991-11-20        185         79    China PR

                                 club_name  ...   lwb   ldm   cdm   rdm   rwb  \
0                             FC Barcelona  ...  66+3  65+3  65+3  65+3  66+3
1                                 Juventus  ...  65+3  61+3  61+3  61+3  65+3
2                          Atlético Madrid  ...  32+3  36+3  36+3  36+3  32+3
3                        FC Bayern München  ...  64+3  65+3  65+3  65+3  64+3
4                      Paris Saint-Germain  ...  67+3  62+3  62+3  62+3  67+3
...                                    ...  ...   ...   ...   ...   ...   ...
18939                      América de Cali  ...  47+2  47+2  47+2  47+2  47+2
18940  Chongqing Dangdai Lifan FC SWM Team  ...  42+2  41+2  41+2  41+2  42+2
18941                      Tianjin TEDA FC  ...  42+2  42+2  42+2  42+2  42+2
18942        Shijiazhuang Ever Bright F.C.  ...  47+2  49+2  49+2  49+2  47+2
18943                      Tianjin TEDA FC  ...  47+0  47+0  47+0  47+0  47+0

         lb   lcb    cb   rcb    rb
0      62+3  52+3  52+3  52+3  62+3
1      61+3  54+3  54+3  54+3  61+3
2      32+3  33+3  33+3  33+3  32+3
3      61+3  60+3  60+3  60+3  61+3
4      62+3  49+3  49+3  49+3  62+3
...     ...   ...   ...   ...   ...
18939  47+2  46+2  46+2  46+2  47+2
18940  45+2  47+2  47+2  47+2  45+2
18941  44+2  47+2  47+2  47+2  44+2
18942  47+2  49+2  49+2  49+2  47+2
18943  47+0  46+1  46+1  46+1  47+0

[18944 rows x 106 columns]

In [32]:
datos = pd.DataFrame(datos,columns=['age_range']) 

print(datos)

       age_range
0            NaN
1            NaN
2            NaN
3            NaN
4            NaN
...          ...
18939        NaN
18940        NaN
18941        NaN
18942        NaN
18943        NaN

[18944 rows x 1 columns]

In [37]:
datos = datos.assign(age_range = datos.withColumn("age_range",when(col("age") < 23,1)
      .when(col("age") < 27,2)
      .when(col("age") < 32,3)                 
      .when(col("age") >=32,4)

SyntaxError: unexpected EOF while parsing (3888447238.py, line 5)

In [60]:
datos = pd.read_csv('players_21.csv', sep=',', usecols=("short_name",
                                        "long_name",
                                        "age",
                                        "height_cm",
                                        "weight_kg",
                                        "nationality",
                                        "club_name"))

In [49]:
datos

       age_range
0            NaN
1            NaN
2            NaN
3            NaN
4            NaN
...          ...
18939        NaN
18940        NaN
18941        NaN
18942        NaN
18943        NaN

[18944 rows x 1 columns]

In [46]:
datos.withColumn('age_range')

AttributeError: 'DataFrame' object has no attribute 'withColumn'

In [47]:
datos = pd.DataFrame(datos,columns=['age_range'])

In [48]:
datos

       age_range
0            NaN
1            NaN
2            NaN
3            NaN
4            NaN
...          ...
18939        NaN
18940        NaN
18941        NaN
18942        NaN
18943        NaN

[18944 rows x 1 columns]

In [52]:
df3 = data.withColumn("age_range", 
      expr("case when age < '23' then 'A' " +
                       "when age < '27' then 'B' " +
                    "when age < '32' then 'D' " +
                       "else 'D' end"))

AttributeError: 'DataFrame' object has no attribute 'withColumn'

       age_range
0            NaN
1            NaN
2            NaN
3            NaN
4            NaN
...          ...
18939        NaN
18940        NaN
18941        NaN
18942        NaN
18943        NaN

[18944 rows x 1 columns]

In [54]:
import pandas as pd
data=pd.read_csv('players_21.csv')

In [55]:
data

,sofifa_id,player_url,short_name,long_name,age,dob,height_cm,weight_kg,nationality,club_name,...,lwb,ldm,cdm,rdm,rwb,lb,lcb,cb,rcb,rb
0,158023,https://sofifa.com/player/158023/lionel-messi/...,L. Messi,Lionel Andrés Messi Cuccittini,33,1987-06-24,170,72,Argentina,FC Barcelona,...,66+3,65+3,65+3,65+3,66+3,62+3,52+3,52+3,52+3,62+3
1,20801,https://sofifa.com/player/20801/c-ronaldo-dos-...,Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,35,1985-02-05,187,83,Portugal,Juventus,...,65+3,61+3,61+3,61+3,65+3,61+3,54+3,54+3,54+3,61+3
2,200389,https://sofifa.com/player/200389/jan-oblak/210002,J. Oblak,Jan Oblak,27,1993-01-07,188,87,Slovenia,Atlético Madrid,...,32+3,36+3,36+3,36+3,32+3,32+3,33+3,33+3,33+3,32+3
3,188545,https://sofifa.com/player/188545/robert-lewand...,R. Lewandowski,Robert Lewandowski,31,1988-08-21,184,80,Poland,FC Bayern München,...,64+3,65+3,65+3,65+3,64+3,61+3,60+3,60+3,60+3,61+3
4,190871,https://sofifa.com/player/190871/neymar-da-sil...,Neymar Jr,Neymar da Silva Santos Júnior,28,1992-02-05,175,68,Brazil,Paris Saint-Germain,...,67+3,62+3,62+3,62+3,67+3,62+3,49+3,49+3,49+3,62+3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18939,256679,https://sofifa.com/player/256679/kevin-angulo/...,K. Angulo,Kevin Angulo,24,1996-04-13,176,73,Colombia,América de Cali,...,47+2,47+2,47+2,47+2,47+2,47+2,46+2,46+2,46+2,47+2
18940,257710,https://sofifa.com/player/257710/mengxuan-zhan...,Zhang Mengxuan,Mengxuan Zhang,21,1999-04-26,177,70,China PR,Chongqing Dangdai Lifan FC SWM Team,...,42+2,41+2,41+2,41+2,42+2,45+2,47+2,47+2,47+2,45+2
18941,250989,https://sofifa.com/player/250989/zhenghao-wang...,Wang Zhenghao,王政豪,20,2000-06-28,185,74,China PR,Tianjin TEDA FC,...,42+2,42+2,42+2,42+2,42+2,44+2,47+2,47+2,47+2,44+2
18942,257697,https://sofifa.com/player/257697/zitong-chen/2...,Chen Zitong,Zitong Chen,23,1997-02-20,186,80,China PR,Shijiazhuang Ever Bright F.C.,...,47+2,49+2,49+2,49+2,47+2,47+2,49+2,49+2,49+2,47+2
18943,257936,https://sofifa.com/player/257936/yue-song/210002,Song Yue,Yue Song,28,1991-11-20,185,79,China PR,Tianjin TEDA FC,...,47+0,47+0,47+0,47+0,47+0,47+0,46+1,46+1,46+1,47+0

In [56]:
df3 = data.withColumn("age_range", 
      expr("case when age < '23' then 'A' " +
                       "when age < '27' then 'B' " +
                    "when age < '32' then 'D' " +
                       "else 'D' end"))

AttributeError: 'DataFrame' object has no attribute 'withColumn'

In [58]:
from pyspark.sql.functions import when

In [59]:
df2 = df.withColumn("age_range", when(df.gender < 23,'A')
                                 .when(df.gender == "F","Female")
                                 .when(df.gender.isNull() ,"")
                                 .otherwise(df.gender))

AttributeError: 'DataFrame' object has no attribute 'withColumn'